@import '../../colors.scss';

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    min-height: 25vh;
    margin: auto;
    background-color: $principal_color;
    padding: 1em;
    border-radius: 1em;
    height: 60vh;
    -webkit-box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.73); 
    box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.73);
}

form input{
    all: unset;
    background-color: $news_background;
    padding: 1em;
    border-radius: 1em;
    color: black;
}
form button{
    all: unset;
    background-color: $button_background;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}
.form_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}
