@import '../../colors.scss';

.home_container {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('http://images2.fanpop.com/images/photos/3800000/Football-not-Soccer-soccer-3870961-1200-563.jpg');
}

.title h1 {
    color: white;
    font-size: 15vh;
    margin:20px 20px 0 20px
}

.phrase {
    color:white;
    font-weight: 700px;
    font-size: 3vh;
    margin: 0 20px;
    text-align: right;
}

button {
    border: 0;
    height: 9vh;
    border-radius: 30px;
    background-color: red;
    font-size: 2.7vh;
    font-weight: 700;
    color:white;
    margin: 60px;
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    .title h1 {
        font-size: 50px;
    }
}
// .suscription {
//     animation-duration: 3s;
//     animation-name: slidein;
//     font-size: 20px;
//   }
  
//   @keyframes slidein {
//     from {
//       margin-left: 100%;
//       width: 300%
//     }
  
//     to {
//       margin-left: 0%;
//       width: 100%;
//     }
//   }