@import '../../colors.scss';

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    background-color: $principal_color;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header div span{
    margin: 1em;
}

p a {
    color:$principal_color;
    font-weight: 700;
}

.header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .header a:hover {
      background-color: $hover_background;
      height: 100%;
      width: 100%;
  }
  
  .btn__burger {
      display:none
  }

  .list_active {
      height: 100%;
  }

  
@media only screen and (max-width: 500px){
    .header {
        position:fixed;
        width: 100%;
    } 

    .btn__burger {
        display:block;
        cursor: pointer;
    }

    .header a {
        display: none;
    }

    .btn {
        position: fixed;
        top: 2rem;
        right: 3rem;
        &__burger {
            &,
            &::before,
            &::after{
            width: 2rem;
            height: 6px;
            background-color: white;
            display: flex;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            transform: translateY(
                -12px
            );
        }
        &::after {
            transform: translateY(
                12px
            );
        }
        }
    }
    }