@import '../../colors.scss';

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    background-color: $principal_color;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* width: 100%; */
}

.header div span{
    margin: 1em;
}

p a {
    color:$principal_color;
    font-weight: 700;
}

@import '../../colors.scss';

.header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .header a:hover {
      background-color: $hover_background;
      height: 100%;
      width: 100%;
  }
  
  .menu {
      display:none
  }

  
@media only screen and (max-width: 500px){
      .menu {
        display:block;
    }

    .header a {
        display: none;
    }
    
    }